atlasify==0.8.0
atlasplots==0.1.9
awkward==2.6.3
awkward-cpp==32
babel==2.17.0
backrefs==5.8
beautifulsoup4==4.13.4
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.2.0
cramjam==2.8.3
cycler==0.12.1
EditorConfig==0.17.0
fonttools==4.47.2
fsspec==2024.3.1
ghp-import==2.1.0
hjson==3.1.0
idna==3.10
importlib_metadata==7.1.0
Jinja2==3.1.6
jsbeautifier==1.15.4
kiwisolver==1.4.5
Markdown==3.8
markdown-include==0.8.1
MarkupSafe==3.0.2
matplotlib==3.8.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-macros-plugin==1.3.7
mkdocs-material==9.6.12
mkdocs-material-extensions==1.3.1
mkdocs-mermaid2-plugin @ git+https://github.com/fralau/mkdocs-mermaid2-plugin.git@0511d01ede2e92ec9c79ee7d82c1b37bc5589fca
numpy==1.26.3
opencv-python==4.9.0.80
packaging==23.2
paginate==0.5.7
pandas==2.2.3
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.3.7
Pygments==2.19.1
pymdown-extensions==10.15
pyparsing==3.1.1
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
python-dateutil==2.8.2
pytz==2025.2
PyYAML==6.0.2
pyyaml_env_tag==0.1
QDarkStyle==3.2.3
QtPy==2.4.1
reportlab==4.2.0
requests==2.32.3
scipy==1.12.0
six==1.16.0
soupsieve==2.7
super_collections==0.5.3
termcolor==3.1.0
typing_extensions==4.13.2
tzdata==2025.2
uproot==5.3.3
urllib3==2.4.0
watchdog==6.0.0
zipp==3.18.1
